import requests as rq
import re
import datetime as dt
import pandas as pd
import urllib.request as urlrq
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.express as px
import plotly.graph_objs as go
import plotly.offline as py
from plotly import subplots
from plotly.subplots import make_subplots